<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <connectionStrings>
    <add name="test" 
         providerName="System.Data.SqlClient" 
         connectionString="Server=tcp:lazerektapidbserver.database.windows.net,1433;Data Source=lazerektapidbserver.database.windows.net;Initial Catalog=lazerektdb;Persist Security Info=False;User ID=lazerekt_dev;Password=LazAPIPass1337;Pooling=False;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />    
 </connectionStrings>
  <!--
  <connectionStrings>
    <add name="test"
      connectionString="Server=tcp:lazerektapidbserver.database.windows.net,1433;Data Source=lazerektapidbserver.database.windows.net;Initial Catalog=lazerektdb;Persist Security Info=False;User ID=lazerekt_dev;Password=LazAPIPass1337;Pooling=False;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  -->
  
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>    
    <httpPlatform processPath="%DNX_PATH%" arguments="%DNX_ARGS%" stdoutLogEnabled="false" startupTimeLimit="3600"/>
  </system.webServer>
  
</configuration>
