<?xml version='1.0' encoding='utf-8'?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="APIDbConnectionString"
     providerName="System.Data.ProviderName"
     connectionString="Server=tcp:lazerektapidbserver.database.windows.net,1433;Data Source=lazerektapidbserver.database.windows.net;Initial Catalog=lazerektdb;Persist Security Info=False;User ID=lazerekt_dev;Password=LazAPIPass1337;Pooling=False;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
  </connectionStrings>
</configuration>